@media only screen and (max-width:600px) {
.header1{
    display: none;
}

.header2{
    text-align: center;
    width: 300px;
}
.logo{
    font-size: 40px;
}
.header2 .nav{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}
.nav a{
    padding: 10px;
    margin:10px 10px 10px 100px;
    color: white;
    width: 100px;
    background-color: rgb(121, 121, 215);
    text-decoration: none;
    cursor: pointer;
}
.prev,.next{
    position: relative;
    top: -280px;
    font-size: 40px;
}
.next{
    position: relative;
    left:400px;
}
.section0{
    margin-left: 100px;
    text-align: center;
    width: 300px;
    margin-bottom: 100px;
}
.section0 .area{
    background-color: rgb(79, 79, 234);
    color: white;
    padding: 10px;
}
.section0 .hours{
    background-color: orange;
    padding: 10px;
}
.section0 .course select{
    padding: 10px;
    border: 4px solid black;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}
button{
    padding: 10px;
    width: 200px;
    background-color: antiquewhite;
}
.vid_title{
    font-size: 30px;
    color:grey;
    margin-bottom: 30px;
}
.cou{
    width: 330px;
    text-align: center;
    padding: 10px;
    background-color: rgb(200, 186, 186);
    margin-bottom: 10px;
    border: 1px solid black;
}
.cou .our1 .cou1{
    display: flex;
    font-size: 20px;
    padding-left: 50px;
    background-color: antiquewhite;
    border: 1px solid black;
    flex-direction: column;
}
.cou .img0{
    height: 100px;
    width: 100px;
    margin-left: 50px;
    border-radius: 50px;
}
.our1 .cou1 label{
    text-align: justify;
    padding: 15px;
    margin-left: 56px;
}
.section3{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    height:820px;
    width: 400px;
    background: url(Images/study-image3.jpeg) no-repeat;
    background-size: cover;
}
.Available{
    padding:30px 0px 0px 0px;
    text-align: center;
}
.cel{
    display:flex;
    text-align: center;
}
.Available label{
    font-size:50px;
    color: white;
}
.Available h3{
    color: white;
}
.Available .cel{
    padding: 20px 0 0 0px;
}
.days, .hour,
.min, .sec
{
    cursor: pointer;
    padding: 8px 20px 8px 20px;
    border-radius: 6px;
    margin:5px 0 0 25px;
    cursor: pointer;
    color:white;
    position: relative;
    left: -14px;
    top: -30px;
}
.days{
    background: #00d5ff;
    display: inline-block;
}
.hour{
    background: #ffa500;
}
.min{
    background: #ff0015;
}
.sec{
    background: #2b00ff;
}
.number {   
    cursor: pointer;
    transition: 1s;
    height: 50px;
    color: white;
}
.number:hover {
    transform: rotate(360deg);
}
.form{
    height:570px;
    width: 380px;
    position: relative;
    top: -40px;
    margin:0px 10px 0px 0;
    border: 5px solid white;
    padding: 10px;
    background: white;
    padding-bottom: 50px;
    transform: scale(0.8);
}
.register {
    background: rgb(191, 187, 187);
    padding: 10px 5px 10px 5px;
    margin-bottom: 10px;
    text-align: center;
}
.d1{
    position: relative;
    left: -15px;
}
.input,
.btn5,
#Message {
    border:none;
    padding: 10px;
    background-color: rgb(237, 231, 231);
    border-bottom: 2px solid rgb(18, 17, 17);
    border-radius: 5px;
    width: 95%;
    height: 40px;
    font-size: 15px;
}

#Message {
    height:100px;
    margin-top: 10px;
    font-size: 19px;
}
.form1 .div{
    margin: 20px;
    padding: 10px;
    background: rgba(244, 243, 243, 0.97);
    border-radius: 5px;
    text-align: center;
    border: 1px solid rgb(184, 182, 182);
    color: red;
}
.form .div:hover {
    color: white;
    transition: 1s;
    background: red;
    border: none;
}
.btn5 {
    background: #49b4d7;
    color: white;
    position: relative;
    top: -10px;
    border: none;
}


.section4{
    margin-top: 20px;
    background: rgb(116, 112, 112);
    height: 800px;
    width: 400px;
}
.degree{
    display:flex;
    flex-direction: column;
}

.degree_class{
    margin: 10px;
    padding-top: 10px;
    text-align:center;
    border-radius: 60px;
}

.h{
    position: relative;
    top: 10px;
    color:white;
}

#p{
    padding: 10px;
    position: relative;
    top: 20px;
    text-align: justify;
    color: white;
}


.section5{
    height: auto;
    width: 400px;
    background-color: #fefdfd;
}
.our_blog{
    text-align: center;
}

.section5 img{
    height: 200px;
    width: 300px;
    position: relative;
    left:-30px;
    transition: 1s;
    --_g: 10% /45% 45% no-repeat linear-gradient(#fff 0 0);
    --m:
    left   var(--_i,0%) top    var(--_g),
    bottom var(--_i,0%) left   var(--_g),
    top    var(--_i,0%) right  var(--_g),
    right  var(--_i,0%) bottom var(--_g);
    -webkit-mask: var(--m);
     mask: var(--m);

}
.section5 img:hover {
  --_i: 10%;
}
.section5 button{
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 30px;
 }
.section5 button:hover{
    background-color: rgba(0,0,0,.1);
}

.bio {
    height: 400px;
    width: 300px;
    padding-left: 70px;
    padding-top: 20px;
    border-radius: 10px;
    background-color: rgb(232, 183, 83);
}
.bio div{
    height: 250px;
    width: 250px;
}

.Doe {
    height: 160px;
    width: 370px;
    padding-top: 40px;
    border-radius: 10px;
    background-color: rgb(226, 127, 65);
}
.Doe p{
    padding:0 20px 0 40px;
}
.Doe h2{
    padding-left: 120px;
}

.party {
    height: 500px;
    width: 300px;
    padding-left: 70px;
    padding-top: 20px;
    border-radius: 10px;
    background-color: rgb(120, 218, 81);
}
.party h2{
    margin-left: 10px;
}
.party div{
    height: 250px;
    width: 250px;
}
.party button {
    margin-top: 90px;
}
.cook {
    height: 250px;
    width: 300px;
    padding-left: 70px;
    padding-top: 20px;
    border-radius: 10px;
    background-color: rgb(96, 193, 214);
}
.cook label{
    font-size: 20px;
}
.music {
    height: 470px;
    width: 300px;
    padding-left: 70px;
    padding-top: 20px;
    border-radius: 10px;
    background-color: rgb(108, 128, 228);
}
.music div{
    height: 250px;
    width: 250px;
}
.music button {
    margin-top: 70px;
}
.icon21 {
    --_i: 10%;
    height: 148px;
    width: 300px;
    padding-left: 70px;
    padding-top: 20px;
    border-radius: 10px;
    background-color: rgb(235, 85, 85);
}
.icon21 img{
    height: 50px;
    width: 50px;
    position: relative;
    left: -10px;
    top: 35px;
    
}
.icon21 label{
    position: relative;
    top: 25px;
    font-size: 25px;
}
footer{
    margin-top: 30px;
    width: 380px;
    display:flex;
    background: gray;
    flex-direction: column;
    gap: 20px;
}
.frame1,.frame2,.frame3,.frame4{
    color:black;
    text-align: center;
}
footer p{
    color: white;
}
.icon{
    font-size:30px;
    margin-left: 10px;
    color: white;
}
.frame3{
    margin-left: 90px;
    text-align: justify;
    font-size: 20px;
    position: relative;
    color: white;
    top: -20px;
}
.frame3 .h{
    font-size: 25px;
    margin-bottom: 10px;
}
hr {
    width:100%;
    height:3px;
    position:relative;
    top:-10px;
    background: black;
}
}