@media only screen and (max-width:600px) {
body {
    width: 500px;
    text-align: center;
}
.logo{
    color: aquamarine;
    font-size: 30px;
    font-style: arial;
}
.nav a{
    color: black;
    text-decoration: none;
    display: flex;
    padding: 10px;
    flex-direction: column;
    font-size: 18px;
}
.btn1{
    background: rgb(227, 124, 33);
    padding: 5px;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    border: none;
}

.back{
    background-image: url(Images/nature.webp);
    background-repeat:no-repeat ;
    background-size: cover;
    height: auto;
}

 .section1 {
    color: white;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.div1 .d1,.div2 .d1{
    height: 200px;
    background-image: url(Images/oip1.jpg) ;
    background-size: contain;
    background-repeat: no-repeat;
}
.div1 .d2, .div2 .d2 {
    height: 200px;
    margin-top: -67px; /* position: relative और top: -67px की जगह */
    background-image: url(Images/OIP.webp);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.div1 h1,.div2 h1{
    position: relative;
    top:60px;
}
.div1 p{
    position: relative;
    top: 40px;
    left: 47px;
    width: 400px;
}
.div2 ul{
    text-align: justify;
    position: relative;
    top: 40px;
    left: 100px;
}
.section2 {
    margin-top: 50px;
    color: rgb(225, 139, 10);
    background-image: url(Images/back1.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex; 
    gap: 20px; 
}
.section2 ol{
    color: #db2d2d;
    text-align: justify;
    margin-left: 20px;
}
.section2 .p1{
    color: aqua;
}
.section2 .p2{
    color: red;
}
.section2 .p3{
    color: greenyellow;
}
.section2 .p4{
    color: gold;
}

.section3 {    
    padding: 20px 0 20px 0px;
    background-color: yellowgreen;
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 100%;
    gap: 10px; 
}

.div5{
    height: 35px;
    width: 200px;
    border-radius: 10px;
    transform: rotate(168deg);
    background-color: aqua;
}
.div6{
    height: 35px;
    width: 200px;
     line-height: 35px;
    border-radius: 10px;
    text-align: center;
    background-color: red;
    position: relative;
    top: -36px;
} 
.footer{
    display:grid;
    margin: 0;
    width: 100%;
    background: gray;
    grid-template-columns:repeat(3,1fr);
    text-align: center;
}
.contant{
    background: gray;
    color:white;
}
.footer p{
    color:rgb(240, 231, 231);
}
.icon {
    color: white;
    font-size: 30px;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;    
}
.footer input{
    height: 28px;
    width: 200px;
    border: none;
    margin-left: 20px;
    border-radius: 5px;
}
.footer button{
    width: 100px;
    height: 30px;
    border: none;
    margin-left: 5px;
    border-radius: 5px;
    background:orange;
}
footer button:hover{
    color:aliceblue;
    background-color: blue;
}
footer hr{
    margin: 0px;
    border: 3px solid black;  
}
}